<div class="container">
  <form role="form" ng-submit="addItem()">
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/directory">Lists</a>
          </div>
          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="tag in tags"><a href="#/{{org}}?tag={{tag}}">{{tag}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
  </form>
  Welcome - here are current orgs or create your own: <input type="text" ng-model="norg"></input> <input type="button" value="Go" ng-click="newOrg()"></input> <br/>
	
<div ng-repeat="org in orgs | filter:search | orderBy:'Title'">
  <a ng-href="#{{ org }}">{{org}}</a><br/>
</div>
</div>